{% extends "base.html" %}
{% block title %} Movie Reviews. {% endblock %}

{% block content %}
<h3>Movie Found: {{ title }}</h3>
<p>Plot: {{ plot }}</p>
<!-- AWARDS NEEDS WORK -->
<p>Awards: {{ awards }}</p>
<!--<p>Awards: {{ awards }}</p>-->
<p>Cast: {{ cast }}</p>
<p>Countries: {{ countries }}</p>
<p>Directors: {{ directors }}</p>
<p>Genres: {{ genres }}</p>
<p>IMDB Ratings: {{ imdb_rating }}/10 with {{ imdb_votes }} votes</p>
<p>Rated: {{ rated }}</p>
<p>Year: {{ year }}</p>

<form action="" method="patch">
    <h3>Leave a Rating!</h3>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select a Number Between 1 and 10. The Higher the Number, the More You Enjoyed the Movie!</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>

<h3>Comments</h3>
{% for comment in text %}
    <li>
        {{ comment }}
        <!--<button type="submit" class="btn-danger btn-primary btn-sm">Delete Comment</button>
        <p> </p>-->
    </li>
{% endfor %}

<!--<p>by {{commenter}}</p>-->

<h3>Leave a Comment!</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="InputMovie">What Did You Think About the Movie?</label>
        <input name="usercomment" class="form-control" id="usercoment"  placeholder="Your Thoughts Here ...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
