{% extends "base.html" %}
{% block title %} Movie Reviews. {% endblock %}

{% block content %}
<h3>Movie Found: {{ title }}</h3>
<p>Plot: {{ plot }}</p>
<!-- AWARDS NEEDS WORK -->
<p>Awards: {{ awards }}</p>
<!--<p>Awards: {{ awards }}</p>-->
<p>Cast: {{ cast }}</p>
<p>Countries: {{ countries }}</p>
<p>Directors: {{ directors }}</p>
<p>Genres: {{ genres }}</p>
<p>IMDB Ratings: {{ imdb_rating }}/10 with {{ imdb_votes }} votes</p>
<p>Rated: {{ rated }}</p>
<p>Year: {{ year }}</p>

<h3>Comments</h3>
{% for comment in text %}
    <li>
        {{ comment }}
        <!--<button type="submit" class="btn-danger btn-primary btn-sm">Delete Comment</button>
        <p> </p>-->
    </li>
{% endfor %}

<!--<p>by {{commenter}}</p>-->


<h3>Leave a Comment!</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="InputMovie">What Did You Think About the Movie?</label>
        <input name="usercomment" class="form-control" id="usercoment"  placeholder="Your Thoughts Here ...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
